@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #525050;
}

.mainHeader {
  border: 5px solid black;
  width: 100vw;
}

.headerContainer {
  border: 5px solid black;
  margin: 5px auto;
  width: 80vw;
  height: 50vh;
  display: grid;
  background-color: aquamarine;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.bagLoho {
  height: 5vh;
  width: 5vw;
}
.item {
  height: 5vh;
  width: 5vw;
}
